services:
  db:
    image: postgres:15-alpine
    container_name: veterinaria_db_container
    restart: always
    environment:
      # Variables hardcodeadas (como solicitaste)
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: veterinaria_db
    volumes:
      # Solo persistimos los datos, ya NO usamos schema.sql
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    
    # --- AÑADE ESTE BLOQUE ---
    # Esto le dice a Docker cómo comprobar si Postgres está listo
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d veterinaria_db"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s # Darle 10s para arrancar antes de testear

  backend:
    build:
      context: ./backend
    container_name: veterinaria_backend
    restart: always
    environment:
      # Variables hardcodeadas (como solicitaste)
      DATABASE_URL: "postgresql://postgres:admin@db:5432/veterinaria_db"
      SECRET_KEY: "77TU)y//@Z0KEK'6iA}TPFxe)3Bl\Nh,9D3\"4[eGT$48?a@JuRO(r=nT,z|Wybj"
      JWT_SECRET_KEY: "1257eaeb180b3127d379b72994a6a54e7793b9b58f858efe1d0174e99afc5cfb"
      FLASK_APP: app
      FLASK_RUN_HOST: 0.0.0.0
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
    
    # --- MODIFICA ESTE BLOQUE ---
    # 'depends_on' ahora espera a que el 'healthcheck' pase
    depends_on:
      db:
        condition: service_healthy # <-- ¡LA CLAVE!

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: "http://localhost:5000"
    container_name: veterinaria_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: "http://localhost:5000"
    depends_on:
      - backend

volumes:
  postgres_data: