services:
  db:
    image: postgres:15-alpine
    container_name: veterinaria_database
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: veterinaria_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
    container_name: veterinaria_backend
    restart: always
    environment:
      DATABASE_URL: "postgresql://postgres:admin@db:5432/veterinaria_db"
      SECRET_KEY: "77TU)y//@Z0KEK'6iA}TPFxe)3Bl\Nh,9D3\"4[eGT$48?a@JuRO(r=nT,z|Wybj"
      JWT_SECRET_KEY: "1257eaeb180b3127d379b72994a6a54e7793b9b58f858efe1d0174e99afc5cfb"
      FLASK_APP: app
      FLASK_RUN_HOST: 0.0.0.0
    ports:
      - "5000:5000"
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_BASE_URL: "http://localhost:5000"
    container_name: veterinaria_frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_BASE_URL: "http://localhost:5000"
    depends_on:
      - backend

# Esta es la sección que fallaba.
# Debe estar al nivel raíz (sin indentación)
# y 'postgres_data' debe estar indentado debajo de él.
volumes:
  postgres_data: